### De 2 största metoderna är content filtering och collaborative filtering.

In [ ]:
# importera biblotek

import pandas as pd 
import sklearn as sk
import seaborn as sbn
import numpy as np
import matplotlib.pyplot as plt

In [29]:
# läs in flera csv filer 

df_links = pd.read_csv("/Users/paraugustsson/Machine-learning-AI24-1/data/links.csv") #innehåller korsrefernser mellan olika filmsajter kräver mer avancerade tekniker och dash för presentation

df_movies = pd.read_csv("/Users/paraugustsson/Machine-learning-AI24-1/data/movies.csv")

df_ratings = pd.read_csv("/Users/paraugustsson/Machine-learning-AI24-1/data/ratings.csv")

df_tags = pd.read_csv("/Users/paraugustsson/Machine-learning-AI24-1/data/tags.csv")

In [ ]:
# Undersök df_movies 
df_eda_mov = df_movies

df_eda_mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   title    86537 non-null  object
 2   genres   86537 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

Index(['movieId', 'title', 'genres'], dtype='object')

In [54]:
df_eda_mov.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [56]:
df_eda_mov

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
86532,288967,State of Siege: Temple Attack (2021),Action|Drama
86533,288971,Ouija Japan (2021),Action|Horror
86534,288975,The Men Who Made the Movies: Howard Hawks (1973),Documentary
86535,288977,Skinford: Death Sentence (2023),Crime|Thriller
86536,288983,UNZIPPED: An Autopsy of American Inequality (2...,Documentary

In [ ]:
# ta bort onödiga tecken

remove

In [66]:
# Visa alla rader där titeln förekommer mer än en gång
duplicates = df_movies[df_movies.duplicated(subset="title", keep=False)]
print(duplicates.info())

<class 'pandas.core.frame.DataFrame'>
Index: 409 entries, 580 to 86388
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  409 non-null    int64
 1   title    409 non-null    object
 2   genres   409 non-null    object
dtypes: int64(1), object(2)
memory usage: 12.8+ KB
None

In [64]:
# Räkna antalet förekomster per titel
title_counts = df_movies['title'].value_counts()
# Filtrera ut de titlar som förekommer mer än en gång
duplicate_titles = title_counts[title_counts > 1]
print(duplicate_titles)

title
Alone (2020)                                 4
The Box (2021)                               3
Journey to the Center of the Earth (2008)    3
The Plague (2006)                            3
Sweetheart (2019)                            2
                                            ..
Believer (2018)                              2
The Call (2020)                              2
Home (2008)                                  2
Swan Song (2021)                             2
The Father (2020)                            2
Name: count, Length: 202, dtype: int64

In [ ]:
df_eda_mov["genres"]

0        Adventure|Animation|Children|Comedy|Fantasy
1                         Adventure|Children|Fantasy
2                                     Comedy|Romance
3                               Comedy|Drama|Romance
4                                             Comedy
                            ...
86532                                   Action|Drama
86533                                  Action|Horror
86534                                    Documentary
86535                                 Crime|Thriller
86536                                    Documentary
Name: genres, Length: 86537, dtype: object

In [51]:
# Dela upp genrerna och platta ut listorna till separata rader
genres_series = df_movies["genres"].str.split('|').explode()

# Visa unika genrer
unique_genres = genres_series.unique()
print(unique_genres)

# Eller räkna antalet filmer per genre
genre_counts = genres_series.value_counts()
print(genre_counts)

['Adventure' 'Animation' 'Children' 'Comedy' 'Fantasy' 'Romance' 'Drama'
 'Action' 'Crime' 'Thriller' 'Horror' 'Mystery' 'Sci-Fi' 'IMAX'
 'Documentary' 'War' 'Musical' 'Western' 'Film-Noir' '(no genres listed)']
genres
Drama                 33681
Comedy                22830
Thriller              11675
Romance               10172
Action                 9563
Documentary            9283
Horror                 8570
(no genres listed)     7060
Crime                  6917
Adventure              5349
Sci-Fi                 4850
Animation              4579
Children               4367
Mystery                3972
Fantasy                3821
War                    2301
Western                1690
Musical                1059
Film-Noir               354
IMAX                    195
Name: count, dtype: int64